#root {
  margin: 0 auto;
  text-align: center;
}

.search {
  padding: 25px;
}

.search label {
  font-size: 20px;
}

.search input {
  font-size: 20px;
  width: 50%;
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.cardWrapper {
  padding: 10px;
  background-color: grey;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
  text-align: center;
  min-height: 540px;
}
.cardFront {
  display: flex;
  align-items: center;
}
