#root {
  margin: 0 auto;
  /* text-align: center; */
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #000425;
  background: radial-gradient(
    circle,
    rgb(0, 10, 71) 30%,
    rgba(15, 11, 59, 0) 100%
  );
  margin: auto;
  font-size: 14px;
  padding: 1em;
  z-index: 2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header .content {
  width: 90vw;
  margin: 3vw auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.header h1 {
  font-size: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header .about {
  display: flex;
  align-items: center;
  grid-column: 1/-1;
}

.toggleTip {
  position: relative;
}

.toggleTipText {
  position: absolute;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  color: rgb(25, 15, 48);
  width: 100%;
  min-width: 200px;
}

.toggleTipOpen,
.toggleTipClose {
  background-color: transparent;
}
.toggleTipClose {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(25, 15, 48);
}
.navButtons > div {
  display: flex;
  padding: 5px;
}

.navButtons > div > button {
  padding: 3px;
  margin: 1px;
}

/* .navButtons > div > button:focus {
  outline: 5px green;
} */

.cardRow {
  display: flex;
  align-items: center;
}

/* .search {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 25px;
}

.search label {
  font-size: 20px;
}

.search input {
  font-size: 20px;
  width: 100%;
} */

.resultsContainer {
  position: relative;
  margin-top: 275px;
}

.results {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25em;
  width: 90vw;
  max-width: 625px;
}

.cardWrapper {
  padding: 0.5em;
  background-color: grey;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: fit-content;
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  aspect-ratio: 1/1.75;
}

.cardFront {
  display: flex;
  align-items: center;
}

.cardBack {
  font-size: 15px;
  max-width: 300px;
  text-align: left;
  padding: 0 10px;
}

.cardBack h2 {
  font-size: 1.5em;
  padding: 0;
  margin: 5px 0;
}

.cardBack h3 {
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0 0 3px 0;
  padding: 0;
}

.cardBack p {
  margin: 5px;
}

.cardFront img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.footer {
  text-align: center;
  margin: 15px 0;
}
